.contactContainer {
  display: flex;
  will-change: contents;
  flex-direction: row;
  justify-content: space-between;
  height: max-content;
  width: 100%;
  margin-block: 0;
  float: none;
  flex-wrap: wrap;

  .contactLeftPart {
    width: 48%;
    height: fit-content;
    padding-right: 2%;

    :nth-child(n) {
      margin: 3% 0;
    }

    .contactSubheading {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      white-space: pre-wrap;
    }
  }

  .contactRightPart {
    width: fit-content;
    height: fit-content;
    margin-top: 2%;
    width: 48%;
    height: 100%;
  }
}
