:root {
  --max-width: 1100px;
  /* Body */
  --background-light: #c4dfe6;
  --background-dark: #003b46;

  /* Text */
  --foreground-light: #f0f8ff;
  --foreground-dark-big: #07575b;
  --foreground-dark-small: #021c1e;

  /* Size */
  --sub-header-font-size: 40px;
  --main-header-font-size: 60px;
  --sub-content-font-size: 18px;
  --content-font-size: 24px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  display: block;
}

body {
  background: var(--background-light);
}

a {
  color: inherit;
  text-decoration: none;
}

.subHeader {
  font-size: var(--sub-header-font-size);
  color: var(--foreground-dark-big);
  white-space: pre-wrap;
}

.mainHeader {
  font-size: var(--main-header-font-size);
  color: var(--foreground-dark-big);
  white-space: pre-wrap;
}

.content {
  font-size: var(--content-font-size);
  color: var(--foreground-dark-small);
  white-space: pre-wrap;
  line-height: 1.4;
}

.subContent {
  font-size: var(--sub-content-font-size);
  white-space: pre-wrap;
  line-height: 1.4;
}

.layout {
  padding: 30px 60px;
  margin-top: 6%;
}

@keyframes borderEffect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
