.home {
  display: flex;
  float: none;
  justify-content: space-between;

  .leftPart {
    display: flex;
    flex-direction: column;
    cursor: default;
    width: 60%;
    height: 100%;

    :nth-child(n) {
      margin-top: 1%;
    }
  }
  .rightPart {
    position: relative;
    display: block;
    width: 40%;

    .ava {
      width: max-content;
      border-radius: 50%;
      height: 100%;
      position: absolute;
      right: 0;
      margin-right: auto;
    }
  }
}

.basicInfo {
  list-style-type: none;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  span {
    margin-left: 1%;
  }
}
