.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--foreground-light);
  padding: 2px;
  margin: 0 20px;
}

.logoContent {
  color: var(--foreground-light);
  font-size: var(--content-font-size);
}
